* {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.box {
	width: 200px;
	height: 200px;
	background-color: red;
	border: 4px dashed black;
	border-radius: 10px;
	box-sizing: border-box;
}
